:root {
    --color-primary: #3AAFA9;
    --color-secondary: #17252A;
    --color-tertiary: #FEFFFF;
    --padding-primary: min(2em, 4%);
    --padding-secondary: 1em 1em;
    --margin-primary: 4rem;
    --margin-secondary: 2rem;
    --shadow-glass: rgba(222, 242, 241, 0.5);
    --shadow-primary: rgba(58, 175, 169, 0.5);
    --shadow-secondary: rgba(23, 37, 42, 0.5);
    --width-full-screens: 100%;
    --width-bigger-screens: 70%;
    --width-smaller-screens: 90%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--color-tertiary);
    font-family: Poppins, "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--color-primary);
}

main {
    width: 100%;
    height: 100%;
    /* padding: var(--padding-primary);
    background-color: var(--color-secondary); */
}

h1 {
    font-size: clamp(1.5rem, calc(2vw + 0.8rem), 3rem);
    font-family: inherit;
}

h2,
h3 {
    font-size: clamp(1rem, calc(1vw + 0.6rem), 2.5rem);
    font-family: inherit;
}

p,
a,
li {
    list-style: none;
    text-decoration: none;
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    font-family: inherit;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* UTILITIES */

.container {}

.card {}

.btn-primary,
.btn-secondary {
    padding: .5em;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    border-radius: 50px;
    transition: all 200ms ease;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.6;
}

.not-selectable {}

/* NAVBAR */

nav {
    backdrop-filter: blur(6px);
    background-color: var(--shadow-primary);
    border-bottom: 1px solid var(--color-secondary);
}

nav ul {
    display: flex;
}

nav li {
    display: flex;
}

nav a {
    display: flex;
    color: var(--color-secondary);
    padding: var(--padding-secondary);
    transition: color background-color 150ms ease;
}

nav a:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

nav .logo-li {
    margin-right: auto;
}

nav .logo-li a {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

nav a.active-link {
    color: var(--color-tertiary);
    border-bottom: 2px solid var(--color-tertiary);
}

#open-sidebar-button,
#close-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 150ms ease;
}

#open-sidebar-button:hover,
#close-sidebar-button:hover {
    color: var(--color-tertiary);
}

#open-sidebar-button {
    margin-left: auto;
}

#overlay {
    background: var(--shadow-primary);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* HEADER | HERO-SECTION */

header {
    width: var(--width-bigger-screens);
    height: 80vh;
    height: 80dvh;
    margin: auto;
    display: flex;
    gap: 1em;
}

header .text-container,
header .img-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--padding-secondary);
}

.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    nav {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: min(15rem, 100%);
        z-index: 10;
        border-left: 1px solid var(--color-secondary);
        transition: right 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    nav.show {
        right: 0;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav a {
        width: 100%;
        padding-left: 2.5em;
    }

    nav a.active-link {
        border-bottom: none;
        /* color: var(--color-secondary); */
    }

    nav .logo-li {
        margin-right: unset;
    }

    #open-sidebar-button,
    #close-sidebar-button {
        display: block;
    }

    /* HEADER | HERO-SECTION */

    header {
        width: var(--width-smaller-screens);
        flex-direction: column;
    }

    header .text-container,
    header .img-container {
        padding: 0 .5em;
    }
}