:root {
    --color-primary: #3AAFA9;
    --color-secondary: #17252A;
    --color-tertiary: #FEFFFF;
    --padding-primary: min(2em, 4%);
    --glass-primary: rgba(58, 175, 169, 0.5);
    --glass-secondary: rgba(23, 37, 42, 0.1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--color-tertiary);
    font-family: Poppins, "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--color-primary);
}

h1 {
    font-size: clamp(1.5rem, calc(2vw + 0.8rem), 3rem);
    font-family: inherit;
    color: var(--color-secondary);
}

h2,
h3 {
    font-size: clamp(1rem, calc(1vw + 0.8rem), 2.5rem);
    font-family: inherit;
    color: var(--color-secondary);
    font-weight: 600;
}

h5 {
    font-weight: normal;
}

p,
a,
li {
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    color: var(--color-secondary);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

nav,
header,
main,
footer {
    max-width: 1024px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em auto;
}

section {
    width: 100%;
    min-height: 85vh;
    min-height: 85dvh;
    padding: 2em 1em;
    overflow: hidden;
    display: flex;
    gap: 2em;
    align-items: center;
}

section>div {
    flex: 1;
}

/* UTILITIES */

h4.tag {
    width: fit-content;
    font-weight: 500;
    line-height: 1;
    padding: 0.8em 1em;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 50px;
}

h5.tag {
    width: fit-content;
    line-height: 1;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .2px;
    padding: 0.4em 1em;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 50px;
}

h5.role {
    color: var(--color-primary);
}

h6.tag {
    width: fit-content;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    padding: .3em .6em;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.7em;
}

.buttons-container {
    display: flex;
    gap: 1.5em;
}

.btn-carousel {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    font-size: 1.5em;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    cursor: pointer;
}

.btn-carousel:disabled {
    cursor: default;
}

.btn-primary,
.btn-secondary {
    line-height: 1;
    padding: 0.5em .8em;
    border-radius: 50px;
    transition: all 200ms ease;
}

.btn-primary {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.btn-secondary {
    color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-carousel:disabled {
    opacity: 0.6;
}

/* NAVBAR */

nav {
    backdrop-filter: blur(6px);
    background-color: var(--glass-primary);
    border-bottom: 1px solid rgba(23, 37, 42, 0.1);
}

nav ul {
    display: flex;
}

nav li {
    display: flex;
}

.logo-li {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    align-items: center;
    padding: 1em;
    justify-content: center;
}

nav a {
    padding: 1em;
    display: flex;
    color: var(--color-secondary);
    transition: color background-color 150ms ease;
}

nav a:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

nav .logo-li {
    margin-right: auto;
}

nav .logo-li a {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

nav a.active-link {
    color: var(--color-tertiary);
    border-bottom: 2px solid var(--color-tertiary);
}

#open-sidebar-button,
#close-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 150ms ease;
}

#open-sidebar-button:hover,
#close-sidebar-button:hover {
    color: var(--color-tertiary);
}

#open-sidebar-button {
    margin-left: auto;
}

#overlay {
    background: var(--glass-primary);
    backdrop-filter: blur(6px);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* HEADER | HERO-SECTION */

header {
    height: 80vh;
    height: 80dvh;
    margin-top: 3em;
    display: flex;
    gap: 1em;
}

header .text-container,
header .img-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
}

header .img-container {
    align-items: end;
    justify-content: end;
}

.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

header img {
    height: 100%;
    object-fit: contain;
}

/* CARDS & CONTAINERS */

.text-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1em;
}

.cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.carousel {
    max-width: 350px;
    display: flex;
    gap: 1em;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: var(--color-secondary);
    border-radius: 1em;
    overflow: hidden;
    padding-bottom: 1.2em;
    scroll-snap-align: center;
}

.card>div:not(:first-child) {
    padding: 0 1.4em;
}

.card-img {
    width: 100%;
    height: 200px;
}

.card-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-header,
.card-intro {
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.card-header p {
    color: var(--color-tertiary);
    font-size: .86em;
}

.card-intro h5.role {
    font-size: 0.9em;
}

.card-intro h5 {
    font-size: .8em;
}

.card-tech,
.card-links {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.card-links .btn-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* PROJECTS SECTION */

#projects {
    border-radius: 2em;
    corner-shape: scoop scoop bevel bevel;
    background-color: var(--glass-secondary);
    padding-inline: 2em;
}

/* ABOUT SECTION */

#about {
    flex-direction: column;
    gap: 5em;
}

#about>div {
    flex: 1 1 0;
}

.academic-container {
    display: flex;
    gap: 1em;
}

.gallery-container {
    display: flex;
    gap: 1em;
    justify-content: center;
    height: 450px;
}

#about .image {
    height: 400px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#about .image img {
    border-radius: 12px;
    height: 100%;
    width: auto;
    object-fit: cover;
}

#about .slice {
    max-width: 70px;
    filter: blur(3px);
}

#about .slice.active {
    flex: 0 0 300px;
    max-width: 300px;
    filter: blur(0);
    position: relative;
}

#about .slice::before {
    content: 'Click any image to view it';
    position: absolute;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    corner-shape: bevel;
    padding: .6em 2em;
    line-height: 1;
    border-radius: 5em;
    transition: all .2s ease;
    opacity: 0;
    top: -3em;
}

#about .slice:hover ::before {
    opacity: 0.5;
}